---
- name: Create EKS Cluster Role
  amazon.aws.iam_role:
    name: "eks-cluster-role"
    description: "IAM role for EKS cluster"
    assume_role_policy_document: "{{ eks_cluster_trust_policy | to_json }}"
    managed_policies: "{{ eks_cluster_managed_policies }}"
    tags:
      Environment: "{{ env_name }}"
  register: eks_cluster_role

- name: Create EKS Node Group Role
  amazon.aws.iam_role:
    name: "eks-nodegroup-role"
    description: "IAM role for EKS worker nodes"
    assume_role_policy_document: "{{ eks_nodegroup_trust_policy | to_json }}"
    managed_policies: "{{ eks_nodegroup_managed_policies }}"
    tags:
      Environment: "{{ env_name }}"
  register: eks_nodegroup_role
# - name: Create ECR Access Policy
#   amazon.aws.iam_policy:
#     policy_name: "eks-ecr-access-policy"
#     description: "ECR access for EKS workloads"
#     policy_document: "{{ ecr_policy_document | to_json }}"
#     # tags:
#     #   Environment: "{{ environment | regex_replace('[^a-zA-Z0-9_.:/=+\\-@ ]', '') }}"
#   register: ecr_policy

# - name: Attach ECR Policy to Node Group Role
#   amazon.aws.iam_managed_policy:
#     policy_arn: "{{ ecr_policy.policy.arn }}"
#     iam_type: "role"
#     iam_name: "{{ eks_nodegroup_role.role.role_name }}"
#     state: "present"
