apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: {{ eks_cluster_name }}
  region: {{ aws_region }}
  version: "{{ eks_version }}"

vpc:
  id: {{ vpc_id }}
  subnets:
    public:
{% for subnet_id in public_subnet_ids %}
      {{ aws_region }}{{ 'a' if loop.index0 == 0 else 'b' }}:
        id: {{ subnet_id }}
{% endfor %}

iam:
  serviceRoleARN: {{ cluster_role_arn }}

nodeGroups:
  - name: {{ nodegroup_name }}
    instanceType: {{ nodegroup_instance_types[0] }}
    desiredCapacity: {{ nodegroup_desired_size }}
    minSize: {{ nodegroup_min_size }}
    maxSize: {{ nodegroup_max_size }}
    volumeSize: {{ nodegroup_disk_size }}
    amiFamily: AmazonLinux2
    iam:
      instanceRoleARN: {{ nodegroup_role_arn }}
    ssh:
      allow: true
    securityGroups:
      attachIDs:
        - {{ worker_nodes_sg_id }}
    subnets: {{ public_subnet_ids }}
    tags:
      Environment: {{ env_name }}
      ManagedBy: ansible
      k8s.io/cluster-autoscaler/enabled: "true"
      k8s.io/cluster-autoscaler/{{ eks_cluster_name }}: "owned"